# ignore everything
*

# except...
# this file
!.gitignore

# github files
!.github
!.github/**

# packmenu resources
!packmenu
!packmenu/resources
!packmenu/resources/**

# selected configs
!config
!config/defaultoptions
!config/defaultoptions/*
!config/bingolobby.json5
!config/extendedcrafting-common.toml
!config/ftbultimine-common.toml
!config/lootr-common.toml
!config/packmenu.cfg
!config/quark-common.toml
!config/twerk-config.toml
!config/waila
!config/waila/waila.json
!config/MouseTweaks.cfg

# serverconfigs
!defaultconfigs
!defaultconfigs/*

# kubejs
!kubejs
!kubejs/assets
!kubejs/assets/**
!kubejs/config
!kubejs/config/client.properties
!kubejs/data
!kubejs/data/**
!kubejs/startup_scripts
!kubejs/startup_scripts/*

# readme
!README.md

# modlist
!modlist.md

# changelogs
!changelogs
!changelogs/*.md

# server utilities
!clientmods.txt
!create_current_manifest.py
!emotes.json
!manifest.json
!modcache.json
!overrides.txt
!pack.json
!serverdata
!serverdata/**
!scripts
!scripts/*
!tokens-example.json