# ignore everything
*

# except...
# this file
!.gitignore

# packmenu resources
!packmenu
!packmenu/resources
!packmenu/resources/**/**

# selected configs
!config
!config/defaultoptions
!config/defaultoptions/*
!config/ftbultimine-common.toml
!config/packmenu.cfg
!config/quark-common.toml
!config/theoneprobe-*.toml
!config/twerk-config.toml

# serverconfigs
!defaultconfigs
!defaultconfigs/*

# kubejs
!kubejs
!kubejs/config
!kubejs/config/client.properties
!kubejs/data
!kubejs/data/**/**

# readme
!README.md

# modlists
!modlists
!modlists/*.md

# changelogs
!changelogs
!changelogs/*.md
!changelogs/updates.json

# server utilities
!clientmods.txt
!create_current_manifest.py
!manifest.json
!ops.json
!overrides.txt
!scripts
!scripts/*